{% extends 'base.html' %}

{% block conteudo %}

    <div class="container">
        <h2>Perfil de '{{perfil.author.username}}'</h2>
        <p>Biografia: {{perfil.bio}} </p>

        <h2> Posts de {{perfil.author.username}}:</h2>
        <ul class="navbar-nav ml-auto">
            {% for post in posts %}
            
                <li class="nav-item">
                    <a href="{% url 'post_detalhes' post.id %}">
                        {{post}} | 
                        {{post.data_post}}
                    </a>
                </li>
            {% endfor %}
    </div>
{% endblock conteudo %}


