{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block conteudo %}
<div class="container mx-auto">

    <div class="mx-auto">
    <h1>Login</h1>
{% if request.user.is_authenticated %}
<h5> <p> Voce esta logado com {{request.user.username}}. 
    <a href="{% url 'logout' %}"> Clique aqui </a> para sair </p></h5>
{% endif %}
</div>
</div>


{% if not request.user.is_authenticated %}
{% include 'partials/_formulario.html' %}
<a href="{% url 'register' %}">
<input type="submit" class="btn btn-primary mt-3" value="Registrar - se">
</a>
{% endif %}
{% endblock conteudo %}